<style>
  .slideshow {
    position: relative;
    width: 90%;
    min-width: 490px;
    margin: auto;
  }

  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px #999;
  }

  .slide.ng-hide-add,
  .slide.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
  }

  .slide.ng-hide-add.ng-hide-add-active,
  .slide.ng-hide-remove {
    opacity: 0;
  }

  .slide.ng-hide-add,
  .slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }






  .rowbtns.ng-hide-add,
  .rowbtns.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }

  .rowbtns.ng-hide-add.ng-hide-add-active,
  .rowbtns.ng-hide-remove {
    opacity: 0;
  }

  .rowbtns.ng-hide-add,
  .rowbtns.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }

  .slideoverlay {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    user-select: none;
  }

  .sliderArrows {
    /* position: relative; */
    font-size: 208px;
    color: rgba(255, 255, 255, 0.3);
    /* top: 100px; */
    cursor: pointer;
    margin-top: 8%;
  }

  .sliderArrows.right {
    float: right;
  }

  .img {
    width: 100%;
    height: auto;
  }
  .btnGroup {
    width: 380px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 0px;
  }
  .rowbtns {
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    background: rbga(0, 0, 0, 0.7);
    text-shadow: 5px 5px 15px rbga(0, 0, 0, 0.9);
  }
  .rowbtns.active {
    color: gray
  }
  @media only screen and ( max-width : 1000px) {
    .sliderArrows {
      font-size: 174px;
    }
    .btnGroup {
      top: -10px;
    }
  }
  @media only screen and ( max-width : 800px) {
    .sliderArrows {
      font-size: 134px;
    }
    .btnGroup {
      top: -20px;
    }
  }
  @media only screen and ( max-width : 600px) {
    .sliderArrows {
      font-size: 104px;
    }
    .btnGroup {
      top: -20px;
    }
  }
</style>
<div class="slideshow">
  <div class="slider" ng-controller="sliderController">
    <div class="slide" ng-repeat="slide in slideshow track by $index" ng-show="slide.visible">
      <img class="img" ng-src="assets/images/{{slide.src}}">
    </div>
    <div class="slideoverlay" ng-mouseenter="pauseSlide()" ng-mouseleave="startSlide()">
      <i ng-click="previous()" class="material-icons sliderArrows">keyboard_arrow_left</i>
      <i ng-click="next()" class="material-icons sliderArrows right">keyboard_arrow_right</i>
      <div class="btnGroup">
      <i class="material-icons rowbtns" ng-repeat="slide in viewDots track by $index" ng-class="{active: slide.visible}" ng-click="thisImage($index)">fiber_manual_record</i>
    </div>
    </div>
  </div>
</div>